<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Log Search</title>
</head>
<body>
    <div id="logContainer">
        <h1>Logs</h1>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const socket = new WebSocket('ws://' + window.location.host + '/queryinterface/ws/logs/');
    
            socket.onopen = function (event) {
                console.log('WebSocket connection opened:', event);
            };

            socket.onmessage = function (event) {
                const data = JSON.parse(event.data);
                console.log('Received message:', data);
                };
    
            socket.onclose = function (event) {
                console.log('WebSocket connection closed:', event);
            };
        });
    </script>
    

</body>
</html>
